<div class="main" style="height: 500px;">
  <div class="row">
    <div class="col-md-12">
      <span class="room">Room: #{room_name}</span>
      <span class="clipboard">
        URL:
        <input type="text" value="#{room_url}">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      editor
      <div id="firepad"></div>
    </div>
    <div class="col-md-3">
      <div id="userlist">
        <div class="user">
          <i class="fa fa-edit fa-3x user-edit"></i>
          <img class="user-icon" src="http://www.placehold.it/50x50" alt="">
          <span class="user-name">@haman29</span>
        </div>
        <div class="user">
          <i class="fa fa-edit fa-3x user-edit"></i>
          <img class="user-icon" src="http://www.placehold.it/50x50" alt="">
          <span class="user-name">@haman29</span>
        </div>
        <div class="user">
          <i class="fa fa-edit fa-3x user-edit"></i>
          <img class="user-icon" src="http://www.placehold.it/50x50" alt="">
          <span class="user-name">@haman29</span>
        </div>
      </div>
      <div class="menu">
        <button class="col-md-6"><i class="fa fa-microphone"></i></button>
        <button class="col-md-6"><i class="fa fa-eye"></i>(<span id="viewer">32</span>)</button>
      </div>
      <div id="chatbox">
        chat
      </div>
    </div>
  </div>
</div>
