<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>Mochitsuki</title>

    <link href="/components/bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/components/fontawesome/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Motchituski</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/rooms">Rooms</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="loading-indicator">Loading&hellip;</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/components/jsSHA/src/sha.js"></script>
    <script src="/components/firebase/firebase.js"></script>

    <section id="content" class="container">
      {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>

    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
